* {
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}


h1 {
    align-items: center;
    color: goldenrod;
    padding-top: 10px;
  
}

button {
    color: black;
    background-color: goldenrod;
}
ul li {
    list-style: none;
  
}


h3 {
    color: rgb(255, 255, 255);
}

td {
    color: rgb(255, 255, 255);
    align-items: center;
    padding-left: 60px;
    padding-right: 3px;
}

h2{
    color: goldenrod;
}

h4 {
    color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 30px;
}

